* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'edwardian  script';
    src: url('EdwardianScriptITC.ttf');
  }

header {
   background-color: rgb(17,17,17);
   padding-left: 0px;
   width: 100%;
   border-bottom: 7px solid rgb(237,197,140);
   
 
}
.nav-header {
    background-color: ;
    margin: 0px;
    padding:0px;
    height: 7em;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
   }
ul li{
    /* display: flex; */
    /* flex-basis: 100%; */
    /* justify-content: space-between; */
    margin-right: 2em;
    list-style: none;
    display: inline
  

}
.right-nav-list {
       color:rgb(237,197,140);
       font-size: 4em;
       margin-right: 0.0em;
       
      }

  .middle-icon {
      color: rgb(237,197,140);
      /* justify-content: space-between; */
      font-size: 3em;
      margin-left: 0.6em;

  }

  .center-h {
      color: rgb(237,197,140);
      font-family: 'edwardian  script';
      font-size: 6em;
      align-items: center;
      margin-top: 0.2em;
      margin-left: 1.5em;
  }
     