* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: whitesmoke;
    margin-top: 0px;
   padding: 0px;
}
header {
   background-color: black;
   padding-left: 0px;
   width: 100%;
   border-bottom: 7px solid rgb(237,197,140);
}
.nav-header {
    background-color: black;
    margin: 0px;
    padding:0px;
    height: 7em;
   
}

